html {
  /* background: #466368;
  background: linear-gradient(#648880, #293f50);
  border-radius: 6px;
  height: 120px; */
}
header {
  background-color: #E0E0E0;
  box-shadow: 8px 8px 16px #bebebe, -8px -8px 16px #ffffff;
  /* background-image:url(../img/Devasthana.jpg) ; */
  background-size: cover;
  /* margin: auto; */
  padding: 1% 2%;
  /* border-radius: 1% 2%; */
  justify-content: center;
  align-content: center;
  display: block;
  /* width: 98%;
  position: fixed;
  top: 10px;
  transition-property: all; */
}

body{
  /* margin: 2%; */
  padding: 1%;
  background: #ECF0F1;
  background-color: #E0E0E0;
  /* background: linear-gradient( 45deg, #F8F6C6 , #F5C6F8, #89B6FF); */
  font-family: sans-serif;
}
h1 {
  color: #3498DB;
  font-size: 1.56em;
  text-align: center;
  text-transform: uppercase;
}
header>h1 {
  color: #3498DB;
  font-size: 1.56em;
  text-align: center;
  text-transform: uppercase;
}
nav {
  color: #3498DB;

}
nav>a {
  background-color: #E0E0E0;
  display:inline-grid;
  color: #3498DB;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  width: 8%;
  /* margin:1% 5%; */
  padding: 0.2% 0.8%;
  border-radius: 8px;
  text-decoration: none;
  box-shadow: 8px 8px 16px #bebebe, -8px -8px 16px #ffffff;
  /* float: left; */
  /* clear: right; */

}
nav>a:hover, nav>a:active {
  background-color: #3498DB;
  color: #E0E0E0;
  box-shadow: inset 8px 8px 16px #bebebe, inset -8px -8px 16px #ffffff;
}
.active {
  background-color: #3498DB;
  color: #E0E0E0;
  box-shadow: inset 8px 8px 16px #bebebe, inset -8px -8px 16px #ffffff;

}
main a {
  color: #3498DB;
  text-decoration: none;
  font-weight: bolder;
  text-rendering:optimizeSpeed;
  /* background-color: #aaaaaa; */
}
h2 {
  color: #E74C3C;
  text-align: center;
  font-weight: bold;
}

h3 {
  color: #C0392B;
  font-weight: bolder;
  font-style: italic;
}

h4 {
  color: #2C3E50;
  font-kerning: auto;
}
main {
  /* background-color: #BCB9B7; */
  display: block;
  /* float: left; */
  /* margin-bottom: 300px; */
  /* position: relative; */
  /* box-sizing: content-box; */
  /* float: left; */

}
.left {
  background: #E0E0E0;
  box-shadow: 8px 8px 16px #bebebe, -8px -8px 16px #ffffff;
  /* background-image: url(../img/teru.jpg); */
  background-size: cover;
  width: 20%;
  height:100vh;
  float: left;
  display: inline-block;
  /* padding-left: 1px;
  padding-right: auto; */
  margin-left: auto;
  margin-right: auto;
}
aside.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;

}
.right {
  background: #E0E0E0;
  box-shadow: 8px 8px 16px #bebebe, -8px -8px 16px #ffffff;
  /* background-color: #BCB9B7; */
  display: inline-block;
  width: 76%;
  padding: 2%;
  float: left;
  margin-left: auto;
}
img {
  display: block;
  border-color: #000000;
  border-style: solid;
  border-width: 2px;
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  box-shadow: 8px 8px 16px #bebebe, -8px -8px 16px #ffffff;
  /* height: 10%;
  margin: 3%; */

}
footer > p > img {
  width: 10%;
}
footer :link {
  color: #3498DB;
}
footer :visited{
  color: #1ABC9C;
}
footer {
  width: 94%;
  color: #ECF0F1;
  padding: 3%;
  display: block;
  clear: both;
  background: #E0E0E0;
  box-shadow: 8px 8px 16px #bebebe, -8px -8px 16px #ffffff;
  /* background-image: url("../img/KMH Logo.png");
  background-repeat: no-repeat;
  background: linear-gradient(90deg, #B9FF89, #89B6FF , #F889FF); */
}
table{
  display: block;
  color: #2C3E50;
  font-family: sans-serif,serif;
  background-color: #E0E0E0;
  box-shadow: 8px 8px 16px #bebebe, -8px -8px 16px #ffffff;
  /* width: 90%;
  align-items: center; */
  border-style: solid;
  border-width: thin;
  border-color: #FFFfff;
  border-collapse: separate;
  /* border-spacing: 3px; */
  /* background-color: rgba(189, 255, 0, 0.3); */
  text-align: center;
  margin-left: 10%;
  margin-right: 6%;
}
th, td, tr {
  border: 3px solid #FFFFFF;
  padding: 1%;
  width: 20%;
}
th{
  -webkit-border-radius: 8px 8px 0px 0px;
  border-radius: 8px 8px 0px 0px;
  color: #FFFfff;
  font-weight: bolder;
  padding: 2%;
  border-style: solid;
  border-width: 1px;
  border-bottom: 5px solid rgba(178, 218, 62, 1) ;
  background: #E0E0E0;
  box-shadow: 8px 8px 16px #bebebe, -8px -8px 16px #ffffff;
  background: -webkit-linear-gradient(90deg,#F39C12 0%, #F1C40F 100% );
  background: -moz-linear-gradient(90deg,#F39C12 0%, #F1C40F 100% );
  background: -o-linear-gradient(90deg,#F39C12 0%, #F1C40F 100% );

}
th:first-child, td:first-child {
  text-align: left;
  width: 65%;
}
tr {
  background-color: #E0E0E0;
  box-shadow: 8px 8px 16px #bebebe, -8px -8px 16px #ffffff;
}
tr:hover {
  background-color: rgba(236, 240, 241, 1);
}
td{
  font-style: normal;
  font-family: monospace,sans-serif,fantasy;
  color: rgba(0, 0, 0, 0.6);
  transition-property: all;
  transition-duration: 1s;

}
td:hover {
  color: rgba(0, 0, 0, 1);
  background-color: #E0E0E0;
  box-shadow: inset 8px 8px 16px #bebebe, inset -8px -8px 16px #ffffff;
}

.twitter-timeline {
  display: grid;
  /* height: 40% !important; */
  width: 30% !important;
}

#logo {
  max-width: 30%;
  padding-right: 3%;
  float: right;
  border-width: 0px;
}
#name {
  font-weight: bold;
  text-emphasis-color: #000000;
}

.clinic {
  padding: 2%;
  border-radius: 8px;
  background: #E0E0E0;
  box-shadow: 8px 8px 16px #bebebe, -8px -8px 16px #ffffff;
  /* background-color: rgba(255, 135, 0,0.5); */
  clear: none;

}
.clm-1-1-1 {
  width: 30%;
  display: inline-block;

}
.clm-1-2 {
  width: 60%;
  float: right;
}
.profilepic {
  border-width: 0px;
  width: 40%;
}
